[Desktop Entry]
Name=softpowe.py
Comment=My Python Program
Exec=python /home/pi/SuperNESPi/softshutdown.py
Icon=/home/pi/example.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true